<div class="row">
<div class="col-md-6 col-offset-3">
<form ng-submit="submit()" class="form-horizontal" novalidate role="form" name="subscription_form">
   <div class="form-group">
      <label for="text" class="col-sm-2 control-label">RSS Url</label>
      <div class="col-sm-8">
         <input type="text" ng-model="rss_url" class="form-control"
            name="" required="" placeholder="" />
      </div>
      <div class="col-sm-2">
         <button type="submit" class="btn btn-primary">Subscription</button>
      </div>
   </div>
</form>
</div>
</div>

<div class="row">
<div>
    {{ feed }}
</div>
</div>
