a.navbar-brand {
    background-image: url("/static/favicon.ico");
    background-repeat: no-repeat;
    background-position: 20px 12px;
    background-size: 24px;
    padding-left: 54px !important;
}
