<!DOCTYPE html>
<html ng-app="oReaderApp">
   <head>
      <title>Rss Reader</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="static/css/bootstrap.min.css" rel="stylesheet">
      <link href="static/css/style.css" rel="stylesheet">
   </head>
   <body ng-controller="RootCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse"
             data-target="#rss-navbar-collapse">
             <span class="sr-only">切换导航</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
          </button>
           <a class="navbar-brand" href="#">RSS Reader</a>
        </div>
        <div class="collapse navbar-collapse" id="rss-navbar-collapse">
           <ul class="nav navbar-nav">
              <li ng-class="{active: shown == 'about'}"><a href="#" ng-click="shown = 'about'">about</a></li>
              <li><a href="#">SVN</a></li>
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Java
                    <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                    <li><a>jmeter</a></li>
                    <li><a href="#">EJB</a></li>
                    <li><a href="#">Jasper Report</a></li>
                    <li class="divider"></li>
                    <li><a href="#">test</a></li>
                    <li class="divider"></li>
                    <li><a href="#">test2</a></li>
                 </ul>
              </li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
               <li ng-hide="loggedUser"><a href="" data-toggle="modal" data-target="#login_dialog">Login</a></li>
               <div class="modal fade" id="login_dialog" tabindex="-1" role="dialog"
                       aria-labelledby="login_title" aria-hidden="true">
                       <div class="modal-dialog" style="width: 450px">
                          <div class="modal-content">
                             <div class="modal-header">
                                <button type="button" class="close"
                                   data-dismiss="modal" aria-hidden="true">
                                      &times;
                                </button>
                                <h4 class="modal-title" id="login_title">
                                    登录
                                </h4>
                             </div>
                             <div class="modal-body">
                                 <form ng-controller="LoginCtrl" ng-submit="submit()" class="form-horizontal" novalidate role="form" name="login_form">
                                   <div class="form-group">
                                      <label for="email" class="col-sm-2 control-label">邮箱</label>
                                      <div class="col-sm-8">
                                         <span class="text-danger">{{ hitMsg | angular }}</span>
                                         <input type="email" ng-model="user.email" ng-init="user.email='test@example.com'" class="form-control"
                                            name="uEmail" required="" placeholder="test@example" />
                                         <div ng-show="login_form.$submitted || login_form.uEmail.$touched">
                                             <span class="text-danger" ng-show="login_form.uEmail.$error.required">请输入你的Email</span>
                                             <span class="text-danger" ng-show="login_form.uEmail.$error.email">这不是一个有效的Email</span>
                                         </div>
                                         <input type="password" ng-model="user.password" ng-init="user.password='test'" class="form-control"
                                            name="uPassword" required="" placeholder="password" />
                                      </div>
                                   </div>
                                   <div class="form-group">
                                      <div class="col-sm-offset-2 col-sm-10">
                                         <div class="checkbox">
                                            <label>
                                               <input type="checkbox"> 记住我
                                            </label>
                                         </div>
                                      </div>
                                   </div>
                                   <div class="form-group">
                                      <div class="col-sm-offset-2 col-sm-10">
                                         <button type="submit" class="btn btn-primary">登录</button>
                                      </div>
                                   </div>
                                 </form>
                             </div>
                          </div>
                       </div>
                   </div>
               <li class="dropdown" ng-show="loggedUser">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown">
                      {{ loggedUser.email | angular }}
                      <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#/subscription">Add subscription</a></li>
                      <li><a href="#/logout">Logout</a></li>
                  </ul>
               </li>


          </ul>
        </div>
      </nav>
      <div ng-view> </div>

      <script type="text/javascript" src="static/lib/jquery/jquery-2.1.4.js"></script>
      <script type="text/javascript" src="static/lib/bootstrap/bootstrap.js"></script>
      <script type="text/javascript" src="static/lib/angular/angular.js"></script>
      <script type="text/javascript" src="static/lib/lodash.js"></script>
      <script type="text/javascript" src="static/lib/jquery-ui.js"></script>
      <script type="text/javascript" src="static/lib/sortable.js"></script>
      <script type="text/javascript" src="static/lib/angular/angular-restangular.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-route.min.js"></script>
      <script type="text/javascript" src="//code.angularjs.org/1.4.4/angular-sanitize.js"></script>
      <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-cookies.min.js"></script>
      <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-resource.min.js"></script>
      <script type="text/javascript" src="static/js/app.js"></script>
      <script type="text/javascript" src="static/js/controllers.js"></script>
      <script type="text/javascript" src="static/js/directives.js"></script>
      <script type="text/javascript" src="static/js/filters.js"></script>
      <script type="text/javascript" src="static/js/services.js"></script>
   </body>
</html>